body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2 {
    color: #0077cc;
    font-weight: bolder;
}

header {
    background-color: #0077cc;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0077cc;
    color: #fff;
}

content {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #0077cc;
    color: #fff;
    padding: 10px;
    text-align: center;
}

aside {
    width: 180px;
    padding: 20px;
    background-color: #b7dbf4;
}

#patientIdInput {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#recentPatientList {
    list-style: none;
    padding: 0;
}

#recentPatientList li {
    cursor: pointer;
    margin-bottom: 5px;
}

.images {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

/* Additional Styling for Charts */
canvas {
    margin-top: 20px;
    border: 1px solid #ddd;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    #patientIdInput {
        width: 100%;
    }
}

/* Button Styles */
button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005a99;
}

/* Dropdown Styles */
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

/* Customize Dropdown Arrow */
select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><polygon points="6 0 0 6 12 6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
}

/* Additional Button Styling for Consistency */
#showFilesButton {
    background-color: #4CAF50;
    color: #fff;
}

.divider {
    border: 2px solid #b7dbf4;
    margin-top: 15px;
    margin-bottom: 40px;
}